:root {
    --bg-color: #fcfcf9;
    --bg-secondary: #ffffff;
    --text-main: #1a1a1a;
    --text-muted: #666666;
    --accent: #7d5a50;
    --border: rgba(0,0,0,0.08);
    --font-serif: 'Playfair Display', serif;
    --font-sans: 'Inter', sans-serif;
    --transition: all 0.3s ease;
    /* Modo Claro: Un velo suave para que la madera se vea clara */
    --linear-gradient-color-1: rgba(255, 252, 248, 0.4);
    --hero-text: #2c2c2c; /* Texto oscuro */

    /* --linear-gradient-color-1: rgba(249, 248, 246, 0.4);
    --linear-gradient-color-2: rgba(249, 248, 246, 0.8); */

}

[data-theme="dark"] {
    --bg-color: #121212;
    --bg-secondary: #1e1e1e;
    --text-main: #e0e0e0;
    --text-muted: #a0a0a0;
    --border: rgba(255,255,255,0.1);
    /* Modo Oscuro: Un velo denso tipo "madera quemada" o "obsidiana" */
    --linear-gradient-color-1: rgba(15, 12, 10, 0.75); 
    --hero-text: #f9f8f6; /* Texto claro */

    /* --linear-gradient-color-1: rgba(15, 12, 10, 0.6);
    --linear-gradient-color-2: rgba(15, 12, 10, 0.9); */
}

[data-theme="light"] .hero h1 {
    text-shadow: 0 0.125em 0.625em rgba(255, 255, 255, 0.5);
}

[data-theme="dark"] .hero h1 {
    text-shadow: 0 0.125em 0.625em rgba(0, 0, 0, 0.5);
}